*{
    background-color: #144e67;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    width: 50%;
    margin-left: 30%;
    margin-top: 16%;
}
#pass{
    width: 60%;
    height: 20px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    color: #000000;
    background-color: #458bac;
}
